# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
aws/*/node_modules

# aws lambda build artifacts
aws/*/function.zip
/.pnp
.pnp.js
.yarn/install-state.gz
/scripts

# package managers
package-lock.json

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.mcp.json
public/test/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.mcp.json
